<h1>Daftar Produk</h1>
<a href="{% url 'product_create' %}">Tambah Produk</a>
<table border="1">
    <tr>
        <th>Nama</th>
        <th>Harga</th>
        <th>Stok</th>
        <th>Aksi</th>
    </tr>
    {% for p in products %}
    <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.stock }}</td>
        <td>
            <a href="{% url 'product_update' p.pk %}">Edit</a> |
            <a href="{% url 'product_delete' p.pk %}">Hapus</a>
        </td>
    </tr>
    {% endfor %}
</table>